################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Projeto Controle Vendas/FileContentIndex/45487fff-d0d9-41c5-850e-dea615dfd4c8.vsidx
